:root {
  --color1: #FFB7C5;
  --color2: #F4F4F4;
}

#root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: var(--color1);
  background-color: var(--color2)
}
